<?xml version="1.0" encoding="iso-8859-1"?>
<!--

/* ==========================================================================
Links: 
Fuentes: http://wix.codeplex.com/SourceControl/latest#src/ext/UIExtension/wixlib/
========================================================================== */
-->
<!--
First-time install dialog sequence:
 - WixUI_WelcomeDlg
 - WixUI_LicenseAgreementDlg
 - WixUI_InstallDirDlg
 - WixUI_VerifyReadyDlg
 - WixUI_DiskCostDlg

Maintenance dialog sequence:
 - WixUI_MaintenanceWelcomeDlg
 - WixUI_MaintenanceTypeDlg
 - WixUI_InstallDirDlg
 - WixUI_VerifyReadyDlg

Patch dialog sequence:
 - WixUI_WelcomeDlg
 - WixUI_VerifyReadyDlg

-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <UI Id="WixUI2_InstallDir">
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <Property Id="WixUI_Mode" Value="InstallDir" />

            <DialogRef Id="UI2BrowseDlg" />
            <DialogRef Id="UI2DiskCostDlg" />
            <DialogRef Id="UI2ErrorDlg" />
            <DialogRef Id="UI2FatalErrorDlg" />
            <DialogRef Id="UI2FilesInUseDlg" />
            <DialogRef Id="UI2MsiRMFilesInUseDlg" />
            <DialogRef Id="UI2PrepareDlg" />
            <DialogRef Id="UI2ProgressDlg" />
            <DialogRef Id="UI2ResumeDlg" />
            <DialogRef Id="UI2UserExitDlg" />
            
            <Publish Dialog="UI2BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
            <Publish Dialog="UI2BrowseDlg" Control="OK" Event="SpawnDialog" Value="UI2InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

            <Publish Dialog="UI2ExitDlg" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

            <Publish Dialog="UI2WelcomeDlg" Control="Next" Event="NewDialog" Value="UI2LicenseAgreementDlg">NOT Installed</Publish>
            <Publish Dialog="UI2WelcomeDlg" Control="Next" Event="NewDialog" Value="UI2VerifyReadyDlg">Installed AND PATCH</Publish>

            <Publish Dialog="UI2LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="UI2WelcomeDlg">1</Publish>
            <Publish Dialog="UI2LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="UI2InstallDirDlg">LicenseAccepted = "1"</Publish>

            <Publish Dialog="UI2InstallDirDlg" Control="Back" Event="NewDialog" Value="UI2LicenseAgreementDlg">1</Publish>
            <Publish Dialog="UI2InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="UI2InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
            <Publish Dialog="UI2InstallDirDlg" Control="Next" Event="SpawnDialog" Value="UI2InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
            <Publish Dialog="UI2InstallDirDlg" Control="Next" Event="NewDialog" Value="UI2VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
            <Publish Dialog="UI2InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
            <Publish Dialog="UI2InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="UI2BrowseDlg" Order="2">1</Publish>
            
            <Publish Dialog="UI2VerifyReadyDlg" Control="Back" Event="NewDialog" Value="UI2InstallDirDlg" Order="1">NOT Installed</Publish>
            <Publish Dialog="UI2VerifyReadyDlg" Control="Back" Event="NewDialog" Value="UI2MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
            <Publish Dialog="UI2VerifyReadyDlg" Control="Back" Event="NewDialog" Value="UI2WelcomeDlg" Order="2">Installed AND PATCH</Publish>

            <Publish Dialog="UI2MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="UI2MaintenanceTypeDlg">1</Publish>

            <Publish Dialog="UI2MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="UI2VerifyReadyDlg">1</Publish>
            <Publish Dialog="UI2MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="UI2VerifyReadyDlg">1</Publish>
            <Publish Dialog="UI2MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="UI2MaintenanceWelcomeDlg">1</Publish>

            <Property Id="ARPNOMODIFY" Value="1" />
        </UI>

        <UIRef Id="WixUI2_Common" />
    </Fragment>
</Wix>