<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- TODO: Put your code here. -->
    <UI>
      <Dialog Id="WebAppSettingsDlg" Width="370" Height="270" Title="[ProductName]">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="Database" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Configure WebApp settings" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="WixUI_Bmp_Banner" />
        <Control Id="WebAppPortLabel" Type="Text" X="22" Y="60" Width="302" Height="15" Text="You can choose to customize the Tenant Automation resource provider port">
        </Control>
        <Control Id="WebAppPortLabel1" Type="Text" X="22" Y="75" Width="280" Height="15" Text="If you do not wish to do this, leave the default value.">
        </Control>
        <Control Id="WebAppPortLabel2" Type="Text" X="24" Y="101" Width="21" Height="10" Text="Port:">
        </Control>
        <Control Id="WebAppPort" Type="MaskedEdit" X="52" Y="98" Width="50" Height="15" Text="#####" Property="HTTP_PORT" />
        <Control Id="SMAUrlLabel" Type="Text" X="22" Y="150" Width="250" Height="12" Text="SMA url using format https://serverFQDN:port number">
        </Control>
        <Control Id="SMAUrlLabel2" Type="Text" X="22" Y="169" Width="212" Height="10" Text="(Example: https://sma.contoso.com:9090)">
        </Control>
        <Control Id="SMAUrl" Type="Edit" X="52" Y="188" Width="250" Height="15" Text="SMA_URL" Property="SMA_URL" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="Back" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Text="Next">
          <Publish Property="ERROR_MESSAGE" Value="Please enter a valid port" Order="1">
          </Publish>
          <Publish Event="SpawnDialog" Value="GenericErrorDlg" Order="2"><![CDATA[HTTP_PORT > "65535"]]></Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Type="GroupBox" Id="portgroup" Width="335" Height="80" X="14" Y="50" />
        <Control Type="GroupBox" Id="smagroup" Width="334" Height="83" X="15" Y="136" />
        <Control Type="Text" Id="text1" Width="25" Height="12" X="26" Y="191" Text="Url:" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>