<div class="quickStartHeader">
    <img class="quickstart-graphic" src="{{attr:quickStartImage}}" alt="Quick Start" />
    <div class="description">
        <h2>Tenant Automation by OpsLogix</h2>
        <div class="headersubtext">Finish the following steps to complete your Tenant Automation setup</div>
        <div class="quickstartCheckboxContainer">
            <span class="quickstartCheckbox"></span>
            <span class="quickstartCheckboxText">Skip Quick Start the next time visit</span>
        </div>
    </div>
</div>

<div class="steps-container">
    <ul class="steps">
        <li class="quickstart-step1 float-all clearfix">
            <div class="detail">
                <div class="detailTitle">
                    Register your Tenant Automation REST endpoint
                    <span class="quickstart-register-ballon"></span>
                </div>
                <div class="detailDescription">Initializing</div>
            </div>
        </li> 
        <li class="quickstart-opslogix float-all clearfix">
            <div class="detail">
                <div class="detailTitle">
                    Learn more about OpsLogix
                    <span class="quickstart-register-ballon"></span>
                </div>
                <div class="detailDescription"><a class="waz-quickStartItem-action" href="http://www.opslogix.com" aria-disabled="false">http://www.opslogix.com</a></div>
            </div>
        </li>
    </ul>
</div>
